.scroll-ctl {
    height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: pointer;
}

.delete-button {
    visibility: hidden;
}

.table-row:hover .delete-button{
    visibility:visible;
}